---
// Import global de estilos
import "../styles/global.css";
---

<!doctype html>
<html lang="es" class="dark" style="color-scheme: dark;">
  <head>
    <!-- FAVICONS -->
    <link rel="icon" type="image/png" href="/admin/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/admin/favicon.svg" />
    <link rel="shortcut icon" href="/admin/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/admin/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="TimeLoop" />
    <link rel="manifest" href="/admin/site.webmanifest" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>TimeLoop</title>
  </head>
  <body class="flex flex-col bg-background">
    <main class="p-2">
      <slot/>
    </main>
  </body>
</html>
