---
import { MultiStepSignup } from '@/components/signUp/MultiStepSignup';
import Signup from '@/layouts/Signup.astro';
---
<Signup>
  <div class="min-h-screen bg-background flex items-center justify-center">
    <div class="w-full max-w-2xl">
      <MultiStepSignup client:load/>
    </div>
  </div>
</Signup>