<nav
  class="border-b border-[hsl(var(--border))] p-1 flex items-center justify-evenly gap-5"
>
  <img src="/logo.png" alt="TimeLoop Logo" class="w-28" />
  <!-- <h1 class="text-5xl font-bold font-[gabriola]">Timeloop</h1> -->
  <h1 class="text-2xl font-[gabriola]">
   una frase / timeloop / o un menu
  </h1>
</nav>
